---
import Layout from "../layouts/Layout.astro";

import { basics } from "../data/resume.json";
const { name, label } = basics;

import Hero from "../sections/Hero.astro";
import About from "../sections/About.astro";
import Education from "../sections/Education.astro";
import Skills from "../sections/Skills.astro";
import Projects from "../sections/Projects.astro";
import Experience from "../sections/Experience.astro";

import KeyboardManager from "../components/KeyboardManager.astro";
import JsonUploader from "../components/JsonUploader.astro";
---

<Layout title=`Portafolio de ${name} - ${label}`>
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
  </main>
  <KeyboardManager />
  <JsonUploader />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }
</style>
