---
import Section from "../components/Section.astro";

import { skills } from "../data/resume.json";
---

<Section tittle="Habilidades">
  <ul>
    {
      skills.map(({ name }) => (
        <li>
          <span>{name}</span>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    background-color: #eee;
    color: #444;
    border: 1px solid #777;
    padding: 0.3rem 0.8rem;
    border-radius: 7px;
    font-size: 0.8rem;
    font-weight: 500;
  }
</style>
